<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{style}}"/>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark" style="background-color: #e43e1a;">
        <img src="/static/img/logo.png">
        <a class="navbar-brand" href="#"><h1>Beast PC</h1></a>
        <li class="dropdown right">
          <a class="navbar-brand">Категории</a>
            <div class="dropdown-content">
              <h5><a href="/product/cpu">Процессоры</a></h5>
              <h5><a href="#">Видеокарты</a></h5>
              <h5><a href="#">Материнские платы</a></h5>
              <h5><a href="#">Оперативная память</a></h5>
              <h5><a href="#">Жёсткие диски</a></h5>
            </div>
        </li>
        {% if current_user.is_authenticated %}
          <a class="navbar-brand" href="/profile">{{ current_user.surname }} {{ current_user.name }}</a>
          <a class="btn btn-success" href="/logout">Выйти</a>
        {% else %}
        <p>
          <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
          <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
      </nav>
      <h4 style="color: white;">Собери свой комп здесь!</h4>
    </header>
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>
    <footer class="main-footer" data-show-after-load hidden>
      <p>YO</p>
    </footer>
  </body>
</html>