{% extends "base.html" %}
{% block content %}
    <table class="main_table">
        <tr>
            <td class="product">
                <a href="cpu"><h2 style="color: gray;">Процессоры</h2></a>
            </td>
            <td class="product">
                <a><h2 style="color: gray;">Видеокарты</h2></a>
            </td>
            <td class="product">
                <a><h2 style="color: gray;">Материнские платы</h2></a>
            </td>
        </tr>
        <tr>
            <td class="product">
                <a><h2 style="color: gray;">Оперативная память</h2></a>
            </td>
            <td class="product">
                <a><h2 style="color: gray;">Жёсткие диски</h2></a>
            </td>
        </tr>
    </table>
{% endblock %}