{% extends "base.html" %}
{% block content %}
    <div class="product">
        <h1>{{title}}</h1>
        <table width="100%">
            <tr>
                <td>
                    <img src="/static/img/{{product_type}}/{{title}}.jpg">
                </td>
                <td>
                    <h3 style="color: orange;">Оценка: {% if item["Оценка"] == 0 %}ещё нет оценок{% else %}{{item["Оценка"]}}{% endif %}</h3>
                    <div>
                        <h3>Оценить:</h3>
                        <a href="/product/{{product_type}}/{{title}}/1"><img src="/static/img/star.png"></a>
                        <a href="/product/{{product_type}}/{{title}}/2"><img src="/static/img/star.png"></a>
                        <a href="/product/{{product_type}}/{{title}}/3"><img src="/static/img/star.png"></a>
                        <a href="/product/{{product_type}}/{{title}}/4"><img src="/static/img/star.png"></a>
                        <a href="/product/{{product_type}}/{{title}}/5"><img src="/static/img/star.png"></a>
                    </div>
                    <h4 style="margin-top: 20px;">{{item['Цена']}} ₽</h4>
                    <a href="/product/buy/{{product_type}}/{{title}}" class="btn btn-warning">Купить</a>
                </td>
            </tr>
        </table>
        <h2>Описание:</h2>
        <p style="color: gray;">{{item['Описание']}}</p>
        <h2>Характеристики:</h2>
        <table class="main_table">
            {% for key in keys %}
            {% if key != "Цена" and key != "Оценка" and key != "Описание" and key != "rates" and item[key] != "" and item[key] != None %}
            <tr>
                <td style="color: gray;"><h3>{{key}}</h3></td>
                <td><h3>{{item[key]}}</h3></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}