body {
    background-color: #333333;
}

.product {
    width: 300px;
    margin: 7px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #f0f0f0;
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

.main_table {
    width: 100%;
    table-layout: fixed;
}