body {
    background-color: #333333;
}

.product {
    width: 300px;
    margin: 7px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #f0f0f0;
    border-radius: 30px;
    height: 100%;
    width: 100%;
}

.main_table {
    width: 100%;
    table-layout: fixed;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background: black;
  width: 125%;
  border: 2px solid black;
  z-index: 1;
}
nav .dropdown-content a {
  color: white;
  border-radius: 5px;
}
nav .dropdown:hover > .dropdown-content {
  display: block;
}

.star {
  background: url(static/img/star.png) no-repeat;
}

td {
  vertical-align: top;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.table_td_space {
  border-spacing: 20px;
  border-collapse: separate;
}

.td_border_white {
  border: 2px dotted #FFFFFF;
}

.carousel {
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}